.Item{
    margin: 10px auto;
    width: 80%;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;}

.Title {

}

.Date {
    display: block;
}

.Body {

}
.But{
    display: block;
}