.Logos {
    width: 80px;
    height: 80px;
    background: url("../../../../logo.png") no-repeat 0;
    background-size: 100%;
}

.Navigation {
    background-color: white;
    height: 80px;
}

.Nav {
    display: flex;
}

.Nav ul {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.Nav ul li {
    display: inline-flex;
    align-items: center;
    margin-right: 25px;
}

.Nav ul li a {
    color: black;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
}

.Nav ul li a:hover {
    box-shadow: -2px 4px 1px 0 rgba(50, 50, 50, 0.75);
}

.active {
    background-color: #2287dc69;
}

