.NoteAdd input, .NoteAdd textarea {
    margin: 10px auto;
    width: 80%;
    text-align: left;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
    list-style: none;
    display: block;
}

.NoteAdd textarea {
    height: 100px;
    resize: none;
}

.NoteAdd button {
    padding: 10px;
    border: 1px solid #2287dc69;
    background: #2287dc69;
    cursor: pointer;
    display: block;
    margin-left: 10%;
}